.container1
{
    display: flex;
    flex-direction: column;
background-color: rgb(151, 171, 171);
height: 50vh !important;
border-radius: 15px;
text-align: center;
/* align-items: center; */
/* justify-content: center; */
width:60%
}
.container2{
    display: flex;
    flex-direction: column;
background-color: rgb(151, 171, 171);
height: 35vh !important;
border-radius: 15px;
text-align: center;
}
/* .cont2{
    display: flex;
flex-direction: row;
border-radius: 10px;
width:70%

} */
.cont{
display: flex;
flex-direction: row;
border-radius: 10px;
}
.col1{
  background-color: rgb(255, 255, 255);
border-radius: 20px;

}
.col2{
  background-color: rgb(167, 234, 232);
  width: 45%;
border-radius: 20px;

}
.images{
  width: 100%;
  height: 90%;
}
.signupbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupbutton > button{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}