.head{
    background-color: hsl(47,65%,84%) !important;
    font-size: 12px;
    font-weight: 500;
}
.headtail{
background-color: hsl(47,83%,91%);
font-size: 13px;
}
.blogs{
    /* display: none; */
}

@media ( width<=1289px) {
    .blogs{
        display:none ;
    }
}
